# وابستگی‌های Node.js و فایل‌های کش
node_modules
npm-debug.log*
yarn-error.log
pnpm-debug.log*

# پوشه‌های خروجی نهایی ساخت (Build)
/dist
/build
/out

# کش Vite
.vite/

# فایل‌های محیطی محلی و خصوصی
.env
.env.local

# پوشه تنظیمات ویرایشگر
.obsidian/
package-lock.json
vite.config.js